:host.s {
  .code-sample {
    padding: 0.6rem 1.6rem;
  }

  .copy-button {
    top: 0.8rem;
    right: 1.8rem;
  }
}

.code-sample {
  display: inline-flex;
  align-items: center;
  position: relative;
  min-width: 30rem;
  width: max-content;

  background-color: rgba(241, 241, 241, 0.2);
  border: 0.5px solid #dbdbdb;
  color: #444;
  padding: 1.6rem;
  margin: 1rem 0 0;

  white-space: pre-wrap;
}

.copy-button {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  display: block;
  height: 2rem;
  width: 2rem;
  opacity: 0.5;
  cursor: pointer;

  background: url("^assets/svg/copy.svg") no-repeat center;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.copied {
    opacity: 1;
    background-image: url("^assets/svg/yes.svg");
    transition: all 0.25s ease-in;
  }
}

code {
  font-family: 'Roboto Mono';
  padding-right: 3.6rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}