<app-course>
  <div libThrough>
    <div>
      <p class="title">
        Angular中的组件<button libCheck="1" (click)="openLink('https://angular.cn/guide/component-overview')">
          官方文档
        </button>
      </p>
      <p class="title">
        Angular中的指令<button libCheck="1" (click)="openLink('https://angular.cn/guide/built-in-directives')">
          官方文档
        </button>
      </p>
      <p class="title">
        大纲应该是直接简单介绍组件的分类
      </p>
      <ul>
        <li>模板（仅组件）</li>
        <li>样式（仅组件）</li>
        <li>定义的ts类</li>
        <li>css选择器</li>
        <li>组件排他，指令不排他，甚至还可以复合</li>
        <li>指令有两种分类：结构型、属性型…的代码风格规范。当然…也没有硬性要求</li>
      </ul>
      其他放在模板里讲……
    </div>
  </div>
</app-course>