<main #main>
  <section class="header">
    <h1 [routerLink]="'/'">Angular教学</h1>
    <a class="github" href="https://github.com/Shosetsu/AngularTeachingPlan" target="_blank"></a>
  </section>
  <section class="menu-list" [libResizable]="main" [resizableType]="['right']">
    <div #menu class="menu-box">
      <div class="course" *ngFor="let course of courseList"
        [class.completed]="getProcessNumber(course) === course.detail.length" [ngStyle]="{
          'background-color':
            'hsl(' +
            (10 + 90 * +(getProcessNumber(course) / course.detail.length)) +
            ', ' +
            (80 + 20 * (getProcessNumber(course) / course.detail.length)) +
            '%, 92%)'
        }">
        <div class="course-title">
          <h5>{{ course.title }}</h5>
          <h5>{{ getProcessNumber(course) }}/{{ course.detail.length }}</h5>
        </div>
        <ul>
          <li *ngFor="let point of course.detail" [class.completed]="isCompleted(point.key)"
            [class.focus]="focusKey === point.key" [routerLink]="'/course/' + point.key">
            {{ point.name }}
          </li>
        </ul>
      </div>
    </div>
  </section>
  <router-outlet hidden></router-outlet>
</main>