main {
  display: grid;
  --resize-right: 400px;
  grid-template: 6rem calc(100vh - 6rem) / var(--resize-right) auto;
}

section {
  padding: 1.2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.header {
  grid-column: 1/3;
  background-color: #ffe8d8;
  border-bottom: 1px solid #eee;

  display: flex;
  align-items: center;
  padding-left: 2.4rem;

  h1 {
    cursor: pointer;
  }

  .github {
    height: 3rem;
    width: 3rem;
    margin-left: auto;
    margin-right: 2rem;
    cursor: pointer;

    transition: all 0.5s linear;

    background-color: #fff;
    background: url("^assets/svg/github-mark.svg") center no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: #000;
      background-image: url("^assets/svg/github-mark-white.svg");
    }
  }
}

.menu-list {
  border-right: 1px solid #eee;

  .menu-box {
    user-select: none;
    height: 100%;
    overflow-y: auto;
  }

  .course {
    padding: 2.4rem;
    background-color: #fbdfdc;
    margin-bottom: 1rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    cursor: default;

    transition: all 0.75s ease-in-out;

    .course-title {
      font-size: 2.4rem;
      border-bottom: 1px solid#5a5a5a;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.25);
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;

      display: flex;
      justify-content: space-between;
    }

    &.completed {
      background-color: #e5ffd8;

      li.focus {
        background-color: #afe9beaa;
      }
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
    padding: 0.5rem 1em;
    position: relative;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: #fff7;
    }

    &.focus {
      background-color: #f9cdc8aa;
    }

    &.completed {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 1.5rem;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 2rem solid #33c4cf;
      }
    }
  }
}