.course-container {
  padding: 1.2rem;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #5a5a5a solid;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.25);

  .mark {
    height: 4rem;
    width: 12rem;
    min-height: 0;
    min-width: 0;
    margin-bottom: 0.6rem;
    font-size: 1.6rem;

    transition: 0.7s all linear;

    display: flex;
    justify-content: center;
    align-items: center;

    i {
      width: 2rem;
      height: 2rem;
      padding: 0.2rem;
      background-color: #ffe8d8;
      border-radius: 50%;
      margin-left: 0.8rem;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.25);
    }

    &.completed i {
      background-color: #cceab2;
    }
  }
}

.course-detail {
  padding: 1.2rem;
  overflow-y: auto;
  height: calc(100vh - 14.5rem);

  font-size: 1.6rem;
  line-height: 2.4rem;

  button {
    min-height: auto;
    font-size: 1.6rem;
    margin-left: 1em;

    &.inline {
      margin: 0;
    }
  }

  > div > :is(div, p) {
    padding: 2rem 0.5em;

    &:first-child {
      padding-top: 1rem;
    }

    &:not(:last-child) {
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.25);
    }

    > :not(.title) {
      margin-top: 1rem;
      margin-left: 1em;
    }

    .title:not(:first-child) {
      margin-top: 2rem;
    }

    .detail {
      padding-left: 1em;
    }

    .note {
      margin-top: 0;
      position: relative;
      padding-left: 1.2em;

      &::before {
        content: "※";
        position: absolute;
        left: 0;
      }
    }
  }

  ul,
  li {
    margin: 0.8rem 0;
  }

  ul {
    list-style: decimal;
    padding-inline-start: 2rem;

    ul {
      list-style: devanagari;
    }
  }

  app-code-sample + app-code-sample {
    margin-left: 1em;
  }
}
