<section class="course-detail" *ngIf="isChildDom">
    <div>
        <div id="anc1">
            <p>
                这里公开了2个方法如下：<br>
                runInside <code>runInside = (fn: () => void) => this.ngZone.run(() => fn());</code><br>
                isInside <code>isInside = () => NgZone.isInAngularZone();</code>
            </p>
            <app-code-sample class="s">isInside()</app-code-sample> >> false<br>
            <app-code-sample class="s">runInside(()=>isInside())</app-code-sample> >> true
            <p>
                尝试在浏览器控制台中使用这些代码。
            </p>
        </div>
    </div>
</section>