<section class="course-detail">
    <h1>举个大栗子No.{{no}}</h1>
    <div *ngIf="no==='1'">
        <div>
            <p>
                这里公开了2个方法如下：<br>
                isInside : <code>() => NgZone.isInAngularZone()</code><br>
                runInside : <code>(fn: () => void) => inject(NgZone).run(() => fn())</code>
            </p>
            <p>
                尝试在浏览器控制台中使用这些代码。
            </p>
            <app-code-sample class="s">isInside()</app-code-sample> >> false<br>
            <app-code-sample class="s">runInside(()=>isInside())</app-code-sample> >> true
        </div>
        <div>
            <p>
                这里包含了一个值（1）它将在5s后更新为另一个值（2）。<br>
                &gt;<code class="b">{{sample1Value}}</code>&lt;<br>
                并且公开了下面这个方法用来修改它的值。<br>
                updateSample1Value : <code>(val: string) => (this.sample1Value = val)</code>
            </p>
            <p>
                尝试在浏览器控制台中使用这些代码。
            </p>
            <app-code-sample class="s">updateSample1Value('3')</app-code-sample> >> '3'
            但画面未更新，尝试触发任何其他AngularZone内事件后则会更新<br>
            <app-code-sample class="s">runInside(()=>updateSample1Value('4'))</app-code-sample> >> '4'
            画面会直接更新，该外部方法也被标记为AngularZone<br>
        </div>
    </div>
    <div *ngIf="no==='2'">
        <div>
            <p>这里放一个生命周期监控用的示例组件</p>
            <app-lifecycle *ngIf="showLife2" [memoried]="infoList2"></app-lifecycle>
            <div>
                <button (click)="infoList2=[]">点这里重设记录</button>
                <button (click)="undefined">点这个按钮什么都不会发生，但是可以刷新输出内容</button>
                <button (click)="showLife2=!showLife2">点这里删除或添加生命周期示例组件</button>
            </div>
            <p>下面是它的输出结果。</p>
            <ul>
                <li *ngFor="let log of infoList2">{{log}}</li>
            </ul>
        </div>
    </div>
    <div *ngIf="no==='3'">
        <form [formGroup]="form3">
            <div>
                a1(input/text): <input type="text" formControlName="a1"><span>{{form3.controls.a1.value}}</span>
                <app-error-info [control]="form3.controls.a1"></app-error-info>
            </div>
            <div>
                a2(input/checkbox): <input type="checkbox" formControlName="a2"><span>{{form3.controls.a2.value}}</span>
                <app-error-info [control]="form3.controls.a2"></app-error-info>
            </div>
            <div>
                a3(input/radio):
                <input type="radio" value="one" formControlName="a3">
                <input type="radio" value="two" formControlName="a3">
                <input type="radio" value="three" formControlName="a3">
                <span>{{form3.controls.a3.value}}</span>
                <app-error-info [control]="form3.controls.a3"></app-error-info>
            </div>
            <div>
                a4(input/date): <input type="date" formControlName="a4"><span>{{form3.controls.a4.value}}</span>
                <app-error-info [control]="form3.controls.a4"></app-error-info>
            </div>
            <div>
                a5(input/range): <input type="range" formControlName="a5"><span>{{form3.controls.a5.value}}</span>
                <app-error-info [control]="form3.controls.a5"></app-error-info>
            </div>
            <div>
                a6(input/color): <input type="color" formControlName="a6"><span>{{form3.controls.a6.value}}</span>
                <app-error-info [control]="form3.controls.a6"></app-error-info>
            </div>
            <div>
                a7(textarea): <textarea formControlName="a7"></textarea><span>{{form3.controls.a7.value}}</span>
                <app-error-info [control]="form3.controls.a7"></app-error-info>
            </div>
            <div>
                a8(select): <select formControlName="a8">
                    <option value="First">First</option>
                    <option value="Last">Last</option>
                </select><span>{{form3.controls.a8.value}}</span>
                <app-error-info [control]="form3.controls.a8"></app-error-info>
            </div>
        </form>
    </div>
    <div *ngIf="no==='4'">
        <div>
            <p>下面有一段话，用新做的管道编辑它吧。</p>
            <p style="white-space: pre-line;">{{paragraph4 | charCode:-1:1}}</p>
        </div>
    </div>
    <div *ngIf="no==='5'">
        <div>
            <p>下面有一个可观测对象，使用<code>async</code>管道进行处理。</p>
            <p>&gt;<code class="b">{{ob5 | async}}</code>&lt;</p>
            <p>每隔3秒会自动发布一次新值。也可以通过下面按钮手动给一个值。</p>
            <p><button class="inline" (click)="nextValue5()">点击按钮会为上面的观测对象准备一个新值</button></p>
        </div>
    </div>
</section>