<app-course>
  <div libThrough>
    <div>
      <p class="title">
        什么是Angular<button libCheck="1" (click)="openLink('https://angular.cn/guide/what-is-angular')">
          官方文档
        </button>
      </p>
    </div>
    <div>
      <p class="title">
        Angular简单概念<button libCheck="2" (click)="openLink('https://angular.cn/guide/architecture')">
          官方文档
        </button>
      </p>
    </div>
    <div>
      <p class="title">
        Angular内置渲染器 Renderer<button (click)="openLink('/inline/course/c4-1')">
          后续课程 - Angular中的DOM操作
        </button>
      </p>
    </div>
    <div>
      <p class="title">
        全局事件、异步处理管理器 NgZone<button libCheck="3" (click)="openLink('https://angular.cn/guide/zone')">
          官方文档
        </button>
      </p>
      <p>
        通常情况下，使用NgZone主要是为了将一些复杂逻辑扔到Angular外面去，以及把外部库处理后需要Angular响应返回值的逻辑拿进来。<br>
        拿进来：<app-code-sample class="s">ngZone.run(()=>&#123; 外部函数() &#125;);</app-code-sample><br>
        扔出去：<app-code-sample class="s">ngZone.runOutsideAngular(()=>&#123; 要扔出去的函数() &#125;)</app-code-sample>
      </p>
      <p class="note">但这并不应该成为对重负荷逻辑的操作方式，对于重负荷单纯逻辑，应当使用Worker的方式使其在其他线程执行。</p>
      <p>
        <button class="inline" libCheck="4" (click)="openLink('/sample/1')">试一试</button>
      </p>
    </div>
    <div>
      <p class="title">
        Angular图片优化 NgOptimizedImage<button (click)="openLink('https://angular.cn/guide/image-directive')">
          官方文档
        </button>
      </p>
    </div>
    <div>
      <p class="title">下面是一些典型Angular总览表</p>
      <p>
        <button class="inline" (click)="openLink('https://angular.cn/guide/glossary')">
          Angular词汇表
        </button>
        <button (click)="openLink('https://angular.cn/guide/cheatsheet')">
          Angular速查表
        </button>
        <button (click)="openLink('https://angular.cn/guide/styleguide')">
          Angular开发风格指南
        </button>
      </p>
    </div>
  </div>
</app-course>