<app-course>
  <div libThrough>
    <div>
      <p class="title">
        如何安装Angular CLI<button libCheck="1" (click)="openLink('https://angular.cn/cli')">官方文档</button></p>
      <app-code-sample code="npm i -g @angular/cli"></app-code-sample>
      <p>初次使用<code>ng</code>命令时可能会遇到Windows脚本权限管理的限制，可通过管理员权限的PowerShell执行下面代码来设置<code>ng.ps1</code>的脚本权限。</p>
      <app-code-sample code="Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine"></app-code-sample>
    </div>

    <div>
      <p class="title">Angular CLI更新</p>
      <p>可使用下面的命令来检查当前CLI的版本。</p>
      <app-code-sample code="ng v"></app-code-sample>
      <app-code-sample code="ng version"></app-code-sample>
      <p>同理，也可以使用下面的命令使用NPM来更新Angular CLI。</p>
      <app-code-sample code="npm update -g @angular/cil"></app-code-sample>
      <p>随后，你可以使用最新的Angular CLI来将指定目录下的Angular工程中使用的Angular模组也一并升级到最新。</p>
      <app-code-sample code="ng update"></app-code-sample>
      <p class="note">注意，该命令行需要在Angular工程的根目录下使用。</p>
      <p>
        当Angular跨大版本更新时，可能需要做出额外操作才能顺利更新Angular CLI，<br />
        通常可参考类似文档：
        <button libCheck="2" (click)="openLink('https://update.angular.io/?v=14.0-15.0')">
          这是Angular14→15的升级步骤
        </button>
      </p>
    </div>

    <div>
      <p class="title">Angular CLI实践实例</p>
      <p>我们可以通过使用下面的简单命令在当前目录下创建一个基础的Angular工程。</p>
      <app-code-sample code="ng new"></app-code-sample>
      <p>
        当你拥有了一个Angular工程后，可在工程根目录下通过以下命令构建并启用它，这里默认省略了工程名。这个示例命令是<code>ng serve</code>的缩写。<br />
        （但如果你同时拥有复数个工程时，需要适当指定工程名或将当前文件夹切换至其根目录下。）
      </p>
      <app-code-sample code="ng s"></app-code-sample>
      <app-code-sample code="ng serve"></app-code-sample>
      <p>
        和<code>ng serve</code>相似的命令是<code>ng build</code>。<br />
        它可以构建指定的工程，构建完成后的静态资源将会被保存在预设的地方，或通过添加命令行参数进行指定。
      </p>
      <app-code-sample code="ng b"></app-code-sample>
      <app-code-sample code="ng build"></app-code-sample>
    </div>

    <div>
      <p class="title">【开发常用功能】让脚手架帮你搭建具体组件<code>ng generate</code>
        <button libCheck="3" (click)="openLink('https://angular.cn/cli/generate')">
          可生成的对象一览</button>
      </p>
      <p>
        尝试一下，但要注意要适当的贴合当前目录。<br />
        部分重要但又缺失的命令行参数将会在命令执行后通过问答的形式要求输入。
      </p>
      <p>
        使用它在当前目录下生成一个<服务>，并命名为SampleEx1Service<br />
          <app-code-sample code="ng g s sample-ex1"></app-code-sample>
          <app-code-sample code="ng generate service sample-ex1"></app-code-sample>
      </p>
      <p>
        使用它在当前目录下生成一个<指令>，并命名为SampleEx2Directive<br />
          <app-code-sample code="ng g d sample-ex2"></app-code-sample>
          <app-code-sample code="ng generate directive sample-ex3"></app-code-sample>
      </p>
      <p>
        使用它在当前目录下生成一个<组件>，并命名为SampleEx3Component<br />
          <app-code-sample code="ng g c sample-ex3"></app-code-sample>
          <app-code-sample code="ng generate component sample-ex3"></app-code-sample>
      </p>
      <p class="note">
        不难看出，这些生成出来的空白文件都遵循着Angular最新的开发规约，并尽可能的贴合当前的Angular工程。<br />
        例如组件会自动注册给最近的模块（Module）等等。
      </p>

      <p class="title">【开发重要功能】lint，实现工程代码风格规范化组件</p>
      <app-code-sample code="ng lint"></app-code-sample>
      <p class="note">
        在工程中初次使用可能需要安装eslint，也会提供一定的预设lint方案，<br>
        并且它也会被vscode的<button class="inline"
          (click)="openLink('https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint')">
          eslint插件</button>所读取并提供全天候自动的lint检查。
      </p>
    </div>
    <div>
      <p class="title">
        【单体测试】Jasmine Test <code>ng test</code><button (click)="openLink('/inline/course/c7-0')">后续课程</button>
      </p>
      <app-code-sample code="ng t"></app-code-sample>
      <app-code-sample code="ng test"></app-code-sample>
      <p class="title">
        【回归测试】e2e Test <code>ng e2e</code><button (click)="openLink('/inline/course/c7-2')">后续课程</button>
      </p>
      <app-code-sample code="ng e2e"></app-code-sample>
    </div>
  </div>
</app-course>