<app-course>
  <div libThrough>
    <div>
      <p class="title">
        Angular中，通常拥有以下数个类型的文件。
        <button (click)="openLink('https://angular.cn/guide/cheatsheet')">
          Angular速查表
        </button>
      </p>
      <ul>
        <li>
          模组（Module）<br />
          Angular是基于模组单位的，模组还提供了一系列其他文件的管理与架构设计
        </li>
        <li>
          路由（Routing）
          <button (click)="openLink('/inline/course/c3-0')">课程计划</button><br />
          提供路由元数据搭载的一种特殊模组文件，通常是作为一个单独文件存在的
        </li>
        <li>
          指令（Directive）
          <button (click)="openLink('/inline/course/c1-1')">课程计划</button><br />
          依附于模板中关键字的一种文件，可以以被选中元素为基础实现一系列特定功能，<br />
          指令本身被看作为是一个视图（View），可在其中使用生命周期钩子，<br />
          通常使用属性（Attr）作为其选择器（Selector），并拥有全局代码规范限制<br />
          <button libCheck="1" (click)="openLink('https://angular.cn/api/common#%E6%8C%87%E4%BB%A4')">
            官方提供的指令一览
          </button>
        </li>
        <li>
          组件（Component）
          <button (click)="openLink('/inline/course/c1-0')">课程计划</button><br />
          组件是指令的超集，在其基础上额外添加了模板（html的片段）与样式（stylesheet）的支持，并支持路由作为路由输出视图来使用,<br />
          和指令一样，组件本身也被看作为是一个视图（View），可在其中使用生命周期钩子，<br />
          通常使用标签（Tag）作为其选择器（Selector），并拥有全局代码规范限制
        </li>
        <li>
          装饰器（Decorator）
          <button (click)="openLink('/inline/course/c2-0')">课程计划</button><br />
          装饰器一种面向编译器（Compiler）的元数据管理文件，通过它也可以实现类似Java
          AOP的一些功能<br />
          <button libCheck="2" (click)="openLink('https://angular.cn/api/core#%E8%A3%85%E9%A5%B0%E5%99%A8')">
            官方提供的装饰器一览
          </button>
        </li>
        <li>
          管道（Pipe）
          <button (click)="openLink('/inline/course/c2-1')">课程计划</button><br />
          可以起到一些语法糖的效果，降低作业难度，并提高代码可读性。<br />
          <button libCheck="3" (click)="openLink('https://angular.cn/api/common#%E7%AE%A1%E9%81%93')">
            官方提供的管道一览
          </button>
        </li>
        <li>
          服务（Service）
          <button (click)="openLink('/inline/course/c5-0')">课程计划</button><br />
          服务是一个Angular中经常使用依赖注入（DI）的一种文件，和Java中的依赖注入一样，<br />
          在编译之前的代码中声明自己需要注入的对象，在编译时由编译器安排注入，从而实现全局单例并让数据得以在不同视图间得到传递。
        </li>
        <li>
          路由守卫和解析器（Gurad/Resovler）
          <button (click)="openLink('/inline/course/c3-5')">课程计划</button><br />
          曾经它也是两种在Angular中经常使用全局依赖注入（DI）的一种文件。<br />
          然而在最近的版本中Angular已经弃暗投明，已经不在推荐使用该类，而是转用标准的JavaScript标准的函数式声明。
        </li>
      </ul>
    </div>
    <div>
      <p class="title">一个基础的Angular工程，通常拥有以下文件。</p>
      <ul>
        <li>src/main.ts, index.html 工程基础配置</li>
        <li>src/assets/ 工程资产</li>
        <li>src/styles/ 工程全局样式</li>
        <li>
          src/app/ 工程应用
          <ul>
            <li>app.module 在main.ts中被定义为是启动模组</li>
            <li>app.component 实现了index.html中入口组件app-root</li>
            <li>app.routing.module 实现了根(root)路由元数据(matedata)配置</li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <p class="title">Angular工程结构设计参考</p>
      <p>基于<code>/src/app/</code></p>
      <ul>
        <li>
          根据文件类型命名，适合简单Angular工程[参考本工程]
          <ul>
            <li>decorator/ 放置各种装饰器</li>
            <li>driectives/ 放置各种共通指令</li>
            <li>components/ 放置各种共通组件</li>
            <li>pipes/ 放置各种共通管道</li>
            <li>pages/ 放置各种页面组件</li>
            <li>shared/ 放置各种服务</li>
          </ul>
        </li>
        <li>
          在上述基础上，将各个业务模块拆分
          <ul>
            <li>biz/<code>XXXX</code>/components/ 放置业务内部使用的局部共通组件</li>
            <li>biz/<code>XXXX</code>/pipes/ 放置业务内部使用的管道</li>
            <li>biz/<code>XXXX</code>/driectives/ 放置业务内部使用的局部共通指令</li>
            <li>biz/<code>XXXX</code>/pages/ 放置业务内部使用的页面组件</li>
            <li>biz/<code>XXXX</code>/service/ 放置业务内部使用的局部共通服务</li>
            <li>biz/<code>XXXX</code>/<code>XXXX</code>.module 定义这个模组</li>
            <li>biz/<code>XXXX</code>/<code>XXXX</code>-routing.module 定义这个模组的路由</li>
          </ul>
        </li>
        <li>
          或者是通过<code>ng add</code>来添加多个子工程
          <ul>
            <li>/project/<code>XXXX</code>/src/app/components/ 放置业务内部使用的局部共通组件</li>
            <li>/project/<code>XXXX</code>/src/app/pipes/ 放置业务内部使用的管道</li>
            <li>/project/<code>XXXX</code>/src/app/driectives/ 放置业务内部使用的局部共通指令</li>
            <li>/project/<code>XXXX</code>/src/app/pages/ 放置业务内部使用的页面组件</li>
            <li>/project/<code>XXXX</code>/src/app/service/ 放置业务内部使用的局部共通服务</li>
            <li>/project/<code>XXXX</code>/src/app/app.module 定义这个模组</li>
            <li>/project/<code>XXXX</code>/src/app/app-routing.module 定义这个模组的路由</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</app-course>