<app-course>
  <div libThrough>
    <div>
      <p class="title">
        JavaScript/TypeScript中的基本类型通常有如下几种：
      </p>
      <ul>
        <li>字符串
          <ul>
            <li>常见单引号 - <app-code-sample class="xs">let string = 'single'</app-code-sample></li>
            <li>类Java双引号 - <app-code-sample class="xs">let string = "double"</app-code-sample></li>
            <li>模板式 - <app-code-sample class="xs">let string = `template`</app-code-sample></li>
          </ul>
          模板式中可通过<code>$&#123;varName&#125;</code>来引用上下文的变量，以及可以在模板式中自然换行等价于<code>\n</code>。<br>
          <button class="inline" libCheck="1" (click)="openLink('https://www.w3school.com.cn/js/js_strings.asp')">
            中文W3School文档
          </button><br>
          符合最新语法的转换方式：<code>String(...)</code>
        </li>
        <li>
          数值 - <app-code-sample class="xs">let number = 3.1415926</app-code-sample><br>
          要注意JS中的数值类型永远是64位浮点数。<br>
          <button class="inline" libCheck="2" (click)="openLink('https://www.w3school.com.cn/js/js_numbers.asp')">
            中文W3School文档
          </button><br>
          符合最新语法的转换方式：<code>Number(...)</code>
        </li>
        <li>
          布尔值 - <app-code-sample class="xs">let boolean = true</app-code-sample><br>
          符合最新语法的转换方式：<code>Boolean(...)</code>
        </li>
        <li>
          数组 - <app-code-sample class="xs">let array = [1,false]</app-code-sample><br>
          符合最新语法的转换方式：<code>Array.from(arrayLike)</code><br>
          符合最新语法的浅复制方式：<app-code-sample class="xs">[...array]</app-code-sample>
        </li>
        <li>
          对象 - <app-code-sample class="xs">let object = &#123;a:1,b:false&#125;</app-code-sample><br>
          符合最新语法的浅复制方式：<app-code-sample class="xs">&#123;...object&#125;</app-code-sample>
        </li>
        <li>
          函数 - <app-code-sample class="xs">let function = function(args)&#123;...&#125;</app-code-sample><br>
          或箭头函数（引用上下文需要）：<app-code-sample class="xs">let arrFunction = (args)=>&#123;...&#125;</app-code-sample>
        </li>
        <li>
          唯一标识 - <app-code-sample class="xs">let symbol = Symbol('symbol')</app-code-sample><br>
          它等价于对它指针的唯一标识，除了获取它的指针，否则永远不可能有任何东西与它相等。<br>
          <app-code-sample class="xs">Symbol('symbol') != Symbol('symbol')</app-code-sample>=>true
        </li>
      </ul>
    </div>
    <div>
      <p class="title">
        TypeScript的类型操作
      </p>
      <p>在TypeScript中一个很重要的关键字便是<code>type</code>，通过它开发者还可以随心所欲的根据情况来控制Angular语言服务（非Angular项目的TS语言服务）的类型提示。</p>
      <p>
        通常，在一个Angular应用程序中，type通常在以下场景中出现。
      </p>
      <ul>
        <li>变量需要明确声明类型，<app-code-sample class="xs">const example1: &#123; a?: number; b?: string &#125; =
            &#123;&#125;;</app-code-sample></li>
        <li>函数事先声明参数返回值类型，<app-code-sample class="xs">function example2(a?: number; b?: string)
            &#123;...&#125;</app-code-sample></li>
        <li>使用泛型但不能自动类型断言时，<app-code-sample class="xs">array.reduce&lt;&#123; a : number
            &#125;[]&gt;(...);</app-code-sample></li>
        <li>手动进行类型断言的时候，
          <app-code-sample class="xs">
            filterFunctionA(test: unknown): test is number &#123;...&#125;<br>
            array.filter(filterFunctionA);
          </app-code-sample>
        </li>
      </ul>
    </div>
    <div>
      <p class="title">
        类型的交集与并集，还有通过泛型实现的类型运算
      </p>
      <p>在TypeScript中，类型可以进行一定程度简单的运算。可以参考下面这些。</p>
      <ul>
        <li>交集 （TypeA & TypeB）</li>
        <li>并集 （TypeA | TypeB）</li>
        <li><button class="inline" libCheck="3"
            (click)="openLink('https://www.typescriptlang.org/docs/handbook/utility-types.html')">一些便捷工具操作（使用泛型）（英文）</button>
        </li>
        <li><button class="inline"
            (click)="openLink('https://www.typescriptlang.org/docs/handbook/2/functions.html')">更多…（英文）</button>
        </li>
      </ul>
    </div>
  </div>
</app-course>