<app-course>
  <div libThrough>
    <div>
      <p class="title">
        ES6（ES2015）~ES12(ES2021)
      </p>
      <p>
        从ES6开始的一系列新特性的汇总 →
        <button libCheck="1"
          (click)="openLink('https://cloud.tencent.com/developer/article/2191375',true)">中文介绍</button>
      </p>
    </div>
    <div>
      <p class="title">
        最新版本ES13（ES2022）的一些功能 →
        <button (click)="openLink('https://dev.to/jasmin/whats-new-in-es2022-1de6')">英文介绍</button>
        <button libCheck="2" (click)="openLink('https://zhuanlan.zhihu.com/p/530524088',true)">中文介绍</button>
      </p>
    </div>
  </div>
</app-course>